<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Registrate
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="css/estilo.css")
	body
		button#lanzar__modal__jc lanzar
		#modal__container__jc
			button#btn__cerrar__modal__jc &times
			.contenido__modal__jc
				.header__jc.grupo.no-padding
					h4.logo Cloket
					p.slogan Unete a todos nuestro beneficios
					.caja.base-50
						a#btn__login__user(href="#") Ingresar
					.caja.base-50
						a#btn__registro__user(href="#") Registrate
				.body__jc
					//- form#login__user(action="")
					//- 	.caja.total.no-padding
					//- 		label.lbl__user(for="nom_user") Usuario
					//- 		input#nom__user.inp__form(type="text" name="" placeholder="Ingrese su Nombre de Usuario")
					//- 	.caja.total.no-padding
					//- 		label.lbl__user(for="ape_user") Contraseña
					//- 		input#ape__user.inp__form(type="password" name="" placeholder="Ingrese su Contraseña")
					//- 	button.btn__enviar Ingresar
				.footer__jc
					p.derecha Valoramos tu privacidad
	script(src="js/jquery.min.js")
	script(src="js/data.js")